@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Genre</th>
            <th>Movie</th>
            <th>Poster</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },

                columnDefs: [
                    { orderable: false, targets: [-1, -2] }
                ],
                lengthMenu: [
                    [3, 6, 9, -1],
                    [3, 6, 9, 'All'],
                ],
                columns: [
                    {
                        data: "name",
                    },

                    {
                        data: "genre.name"
                    },
                    {
                        data: "ImagePath",
                        "className": "text-center",
                        render: function (data, type, movie) {
                            return "<img src='" + movie.imagePath + "' />";
                        }

                    }
                ]
            });
        });
    </script>
}